version: '3.8'

services:
  postgres:
    build: ./db
    container_name: max_bot_db
    env_file:
      - .env
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
